.home .hello{padding-bottom:5rem;font-size:1.75em}
.home .hello h2{padding-bottom:1rem;font-size:1.25em}
.home .hello p{color:#fff}
.skills .title{padding:0 0 1.5rem}
.skills li{display:inline-block}
.skills li > div{position:relative;display:flex;align-items:center;margin-right:1rem;margin-bottom:1rem;padding:.75rem 1.5rem;color:#fff;background:rgba(255,255,255,.1);border-radius:1.5rem}
.skills li > div::before{position:absolute;content:"";top:0;right:0;bottom:0;left:0;outline:2px solid #ffd644;border-radius:2rem;opacity:0;transition:.2s}
.skills li > div:hover::before{top:-3px;right:-3px;bottom:-3px;left:-3px;opacity:1}
.skills li svg{width:20px;margin-right:.5rem}
.skills li span{position:relative}
.skills + .skills{padding-top:2.5rem}
.skills + .skills li{font-size:.9em}
.skills + .skills li div{opacity:.7}
.skills + .skills li div:hover{opacity:1}

.itsme{padding-top:3rem;font-size:1.5em}
.itsme p + p{padding-top:2rem}
.itsme .p1{font-size:1.2em;color:#fff}
.itsme .photo{text-align:center}
.itsme .photo img{width:100%;max-width:400px}
.itsme .photo p{position:relative;border-radius:.75rem;overflow:hidden}
.itsme .photo p::before{position:absolute;content:"";top:5%;right:0;bottom:0;left:0;background:linear-gradient(0deg, #050718 5%, transparent 100%)}
.itsme .col-md-7{margin-left:auto}
.itsme [class^="col-"]{padding:2rem 0}